.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
  position: absolute;
  right: 20px;
  top: 40px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}

@media (max-width: 615px) {
  .order {
    padding: 0;
  }

  .order__id {
    display: none;
  }
}

@media (max-width: 350px) {
  .order {
    background-color: #eaeded;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
